# ignore object code and compiled code
**/objects
*.o
*.d
*.crf
*.axf

# ignore scatter files
*.sct

# ignore backups
*.Bak
*.bak
*.orig

# ignore html build logs
*.htm

# ignore dependencys
*.dep

# ignore random gui layouts 
*.uvguix.*
*.acesas13
*.uvmpw.*

# ignore debug configuration
**/DebugConfig
*.dbgconf

# ignore listings
**/listings
**/Listings
*.map
*.lst

# ignore the lab solutions
lab*solutions/